{% block content %}
    {% if validlink %}
        <h3>change your password</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change password</button>
        </form>
    {% else %}
        <p>Password link invalid, request another one</p>
    {% endif %}
{% endblock %}