
{% block content %}
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="forget-form" action="#" method="post">
        {% csrf_token %}
        <h3 >Password dimenticata ?</h3>
        <p>Inserisci la tua e-mail per resettare la tua password</p>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-envelope"></i>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email"/>
            </div>
        </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn">
                <i class="m-icon-swapleft"></i>Indietro
            </button>
            <button type="submit" class="btn green pull-right">
                Invia<i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>
    </form>
{% endblock %}