{% extends 'core/index.html' %}

{% block head_title %}Index{% endblock %}

{% block body_main %}
    <div class="card">
        <div class="card-body">

            <div class="form-row">
                <form action="{% url 'core:addmult'%}"  method="POST" enctype="multipart/form-data" class="form-horizontal" id="addmult1" novalidate="novalidate">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-form-label">Selezionare il Dipendente</label>
                        <select class="custom-select" name="user">
                            <option>{{ lista_user_select }}</option>
                            {% for user in lista_user %}
                                <option value="{{ user.user }}">{{ user.user }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group ">
                        <label class="col-form-label">Selezionare il Ambito</label>
                        <select class="custom-select" name="ambito">
                            <option value="{{ lista_ambito_select.0 }}">{{ lista_ambito_select.1 }}</option>
                            {% for user in lista_ambito %}
                                <option value="{{ user.pk }}">{{ user.desc }}</option>
                            {% endfor %}
                        </select>
                    </div>



                    <div class="form-group" >
                        <label class="col-form-label">Selezionare il Vendor</label>
                        <select class="custom-select" name="vendor">
                            <option></option>
                            {% for user in lista_vendor %}
                                <option value="{{ user }}">{{ user }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Selezionare il Technologia</label>
                        <select class="custom-select" name="tech">
                            <option></option>
                            {% for user in lista_tech %}
                                <option value="{{ user.pk }}">{{ user.desc }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input class="btn btn-primary btn-sm" form="addmult1" type="submit" value="search"/>
                </form>
            </div>

        </div>
    </div>
{% endblock %}