{% extends 'core/index.html' %}
{%  load staticfiles %}

{% block custom_page_level_css %}
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-sunburst.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/themes/sea.min.js"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=be5162d915534272a57d0bb781d27f2b" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=be5162d915534272a57d0bb781d27f2b" type="text/css" rel="stylesheet">
  <style type="text/css">
		html,
		body,
		#container {
			width: 100%;
			height: 2000px;
			margin: 0;
			padding: 0;
		}
  		#container2 {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 5px;
            border-radius: 5px;
            background-color: rgba(147, 151, 156, 0.38);
		}
  </style>
{% endblock %}

{% block custom_page_level_javascript %}

    <script>
		anychart.onDocumentReady(function () {
			// The data used in this sample can be obtained from the CDN
			// https://cdn.anychart.com/samples/sunburst-charts/employee-count-by-country/data.json
                    data = {{ dict|safe }};



					// makes tree from the data for the sample
					var dataTree = anychart.data.tree(data);

					// create sunburst chart
					var chart = anychart.sunburst(dataTree);

					// set calculation mode
					chart.calculationMode('parent-independent');

					// descending sort data
					chart.sort('desc');

					// set chart title
					// chart.title('Radar Space source AnyChart Core');

					// set custom palette
					chart.palette([
						'#f9fffd',
                        '#ff9a32',
                        'rgba(82,64,145,0.56)',
                        '#ff8470',
                        '#80c3ff',
						'#355a85',
                        '#66a64a',
                        '#fab353',
                        '#aaa2d8',
                        '#6097ce',
						'#343434',
                        '#eab8a8',
                        '#895070',
                        '#89b5ab',
                        '#8e4dbd'
					]);

					// format chart labels
					chart.labels().format("{%Name}");

                    // enable HTML for labels
                    chart.tooltip().useHtml(true);

					// format tooltip
					chart.tooltip().format("<h3>{%name}</h2><br><br>{%lista_work_amb}{%lista_work_ven}{%list_worker_tech}{%lista_worker_cap}");



					// set container id for the chart
					chart.container('container');

					// initiate chart drawing
					chart.draw();

					function format(bytes) {
						var kb = bytes / 1024;
						var mb = bytes / 1024 / 1024;

						var units = {
							KB: kb,
							MB: mb
						};

						var lastUnit = 'B';
						var lastValue = bytes;

						for (var u in units) {
							if (units[u] < 1) {
								return lastValue
							}
							lastUnit = u;
							lastValue = units[u].toFixed(2);
						}

						return lastValue
					}
				});

</script>
{% endblock %}

{% block body_main %}
    <div class="card">


            <div class="col-lg-12"><div id="container"></div></div>



    </div>
{% endblock %}



