<!doctype html>
<html class="no-js" lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DGS Spa {% block head_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'admin-center/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin-center/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin-center/assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'admin-center/assets/css/metisMenu.css' %}">
    <link rel="stylesheet" href="{% static 'admin-center/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin-center/assets/css/slicknav.min.css' %}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

    <!-- others css -->
    <link rel="stylesheet" href="{% static 'admin-center/assets/css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'admin-center/assets/css/default-css.css' %}">
    <link rel="stylesheet" href="{% static 'admin-center/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'admin-center/assets/css/responsive.css' %}">
    <!-- modernizr css -->
    <script src="{% static 'admin-center/assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'admin-center/favicon.ico' %}" />
    {% block custom_page_level_css %}{% endblock %}
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        {% include 'core/menu.html' %}
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content" style="background-color: rgba(48,54,65,0.91)">
            <!-- header area start -->

                <div class="header-area" style="background-color: rgba(48,54,65,0.91)">
                    <div class="row align-items-center">
                        <!-- nav and search button -->
                        <div class="col-md-6 col-sm-8 clearfix">
                            <div class="nav-btn">
                                <ul class="notification-area">
                                    <li><i class="ti-menu"></i></li>
                                </ul>
                            </div>
                        </div>
                        <!-- profile info & task notification -->
                        <div class="col-md-6 col-sm-4 ">
                            <ul class="notification-area pull-right">
                                <li class="dropdown">
                                    <i class="ti-user dropdown-toggle" data-toggle="dropdown"><a style="float: left; margin-bottom: 0; padding-top: 6px">{{ user.username }}&nbsp;&nbsp;</a></i>
                                    <div class="dropdown-menu bell-notify-box notify-box" style="width: 200px">
                                            <div class="list-group" >
                                                <a href="#" class="list-group-item list-group-item-action active">User : {{ user.username }}</a>
                                                <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-user"></i> My Profile</a>
                                                <a href="/usr-manage/" class="list-group-item list-group-item-action"><i class="fa fa-search"></i> Sessioni</a>
                                                <a href="/admin/logout/" class="list-group-item list-group-item-action" style="background-color: rgba(143, 153, 144, 0.88)"><i class="fa fa-key"></i> Log Out</a>
                                            </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="main-content-inner" style="padding: 0">
                        {% block body_main %}{% endblock %}
                </div>
        </div>
        <!-- footer area start-->
        <footer>
            <div class="footer-area" style="background-color: rgba(48,54,65,0.91)">
                <p>© Copyright 2018. All right reserved  <a href="#">DGS Spa</a>.</p>
            </div>
        </footer>

    </div>

    <script src="{% static 'admin-center/assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
    <!-- bootstrap 4 js -->
    <script src="{% static 'admin-center/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'admin-center/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin-center/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'admin-center/assets/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'admin-center/assets/js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'admin-center/assets/js/jquery.slicknav.min.js' %}"></script>
    <!-- others plugins -->
    <script src="{% static 'admin-center/assets/js/plugins.js' %}"></script>
    <script src="{% static 'admin-center/assets/js/scripts.js' %}"></script>

    {% block custom_page_level_javascript %}{% endblock %}
    <script>
            jQuery(document).ready(function() {
               App.init(); // initlayout and core plugins
               Index.init();

               Index.initCharts(); // init index page's custom scripts
               Index.initChat();
               Index.initMiniCharts();
               Index.initDashboardDaterange();
               Index.initIntro();
               Tasks.initDashboardWidget();

               {% block custom_init_javascript %}{% endblock %}

            });

            function hide_message(){
                alert("Il messaggio verra' nascosto");
                $.cookie("session_show", 1);
            }

            if (!$.cookie('session_show')) {

                var total_session = {% if double_session %}{{double_session}}{% else %}0{% endif %};

                if ( total_session > 1 ){
                    setTimeout(function () {
                        var unique_id = $.gritter.add({
                            // (string | mandatory) the heading of the notification
                            title: 'SESSION ALERT',
                            // (string | mandatory) the text inside the notification
                            text: 'Sono presenti sessioni multiple. [ ' + total_session + ' ] <br><a href="/usr-manage/" target="_blank">controlla</a> - <a href="#" onclick="hide_message();" >nascondi</a>',
                            // (string | optional) the image to display on the left
                            image: '/static/custom/img/alert-icon.png',
                            // (bool | optional) if you want it to fade out on its own or just sit there
                            sticky: true,
                            // (int | optional) the time you want it to be alive for before fading out
                            time: '',
                            // (string | optional) the class name you want to apply to that specific message
                            class_name: 'my-sticky-class'
                        });

                        // You can have it return a unique id, this can be used to manually remove it later using
                        setTimeout(function () {
                            $.gritter.remove(unique_id, {
                                fade: true,
                                speed: 'slow'
                            });
                        }, 25000);
                    }, 1000);


                }
            }


        </script>
</body>

</html>
