{% load staticfiles %}

        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo" style="margin: 0;padding:0">
                    <a href="{% url 'admin_index'  %}"><img  src="{% static 'admin-center/logo-dgs-group-white.png' %}" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">

                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li>
                                <div class="search-box" style="width: 100%">
                                    <form action="" method="GET">
                                        <input type="text" name="search" placeholder="Search..." required style="width: 100%; height: 40px">
                                        <i class="ti-search"></i>
                                    </form>
                                </div>
                            </li>
                            {% for group in user.groups.all %}
                                {% if group.name == 'diretore' %}
                                    <li {% ifequal nav "home" %}class="active"{% endifequal %}>
                                        <a href="{% url 'admin_index'  %}" aria-expanded="true" ><i style="color: #8d97ad" class="ti-pie-chart"></i><span>Dashboard</span></a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% for group in user.groups.all %}
                                {% if group.name == 'diretore' %}
                                    <li {% ifequal nav "gen" %}class="active"{% endifequal %}>
                                        <a href="javascript:void(0)" aria-expanded="true"><i style="color: #8d97ad" class="ti-pie-chart"></i><span>Gestione</span></a>
                                        <ul class="collapse">
                                            <li {% ifequal subnav "gen-ser" %}class="active"{% endifequal %}>
                                                <a href="/admin/corso/corso/add/" target="_blank">
                                                    <i style="color: #8d97ad" class="ti-plus"></i>&nbsp;&nbsp;&nbsp;Corsi
                                                </a>
                                            </li>
                                            <li {% ifequal subnav "gen-sys" %}class="active"{% endifequal %}>
                                                <a href="/admin/corso/certificazione/add/" target="_blank">
                                                    <i style="color: #8d97ad" class="ti-plus"></i>&nbsp;&nbsp;&nbsp;Certificati
                                                </a>
                                            </li>
                                            <li {% ifequal subnav "gen-user" %}class="active"{% endifequal %}>
                                                <a href="/admin/auth/user/add/" target="_blank">
                                                    <i style="color: #8d97ad" class="ti-plus"></i>&nbsp;&nbsp;&nbsp;Utente
                                                </a>
                                            </li>
                                            <li {% ifequal subnav "gen-user" %}class="active"{% endifequal %}>
                                                <a href="/admin/core/utente/add/" target="_blank">
                                                    <i style="color: #8d97ad" class="ti-plus"></i>&nbsp;&nbsp;&nbsp;Dipendente
                                                </a>
                                            </li>
                                            <li {% ifequal subnav "gen-user" %}class="active"{% endifequal %}>
                                                <a href="javascript:void(0)" aria-expanded="true"><i style="color: #8d97ad" class="ti-pie-chart"></i><span>Skills</span></a>
                                                <ul class="collapse">
                                                    <li>
                                                        <a href="/admin/valutazione/user_skill/add/" target="_blank">
                                                            <i style="color: #8d97ad" class="ti-plus"></i>&nbsp;&nbsp;&nbsp;Skill Unica
                                                        </a>
                                                    </li>
                                                    <li {% ifequal subnav "gen-user" %}class="active"{% endifequal %}>
                                                        <a href="{% url 'core:addmult' %}" target="_blank">
                                                            <i style="color: #8d97ad" class="ti-plus"></i>&nbsp;&nbsp;&nbsp;Skill Multiplo
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li {% ifequal subnav "gen-user" %}class="active"{% endifequal %}>
                                                <a href="/admin/core/utente/" target="_blank">
                                                    <i style="color: #8d97ad" class="ti-close"></i>&nbsp;&nbsp;&nbsp;Del Utente
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% for group in user.groups.all %}
                                {% if group.name == 'diretore' %}
                                    <li {% ifequal nav "val" %}class="active"{% endifequal %}>
                                        <a href="javascript:void(0)" aria-expanded="true"><i style="color: #8d97ad" class="fa fa-align-left"></i> <span>Valutazione</span></a>
                                        <ul class="collapse">
                                            <li {% ifequal subnav "val-cert" %}class="active"{% endifequal %}>
                                                <a href="{% url 'valutazione:cert' %}">
                                                    <i style="color: #8d97ad" class="ti-sharethis"></i>&nbsp;&nbsp;&nbsp;Corsi / Cert
                                                </a>
                                            </li>
                                            <li {% ifequal subnav "val-level" %}class="active"{% endifequal %}>
                                                <a href="{% url 'valutazione:level' %}">
                                                    <i style="color: #8d97ad" class="ti-bookmark-alt"></i>&nbsp;&nbsp;&nbsp;Level
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if user.is_superuser %}
                                <li {% ifequal nav "doc" %}class="active"{% endifequal %}>
                                    <a href="javascript:void(0)" aria-expanded="true"><i style="color: #8d97ad" class="fa fa-align-left"></i> <span>Amministrazione</span></a>
                                    <ul class="collapse">
                                        <li {% ifequal subnav "doc-rep" %}class="active"{% endifequal %}>
                                            <a href="/admin/" target="_blank">
                                                <i style="color: #8d97ad" class="ti-receipt"></i>&nbsp;&nbsp;&nbsp;Database
                                            </a>
                                        </li>
                                        <li {% ifequal subnav "doc-rep" %}class="active"{% endifequal %}>
                                            <a href="{% url 'valutazione:upload' %}" target="_blank">
                                                <i style="color: #8d97ad" class="ti-receipt"></i>&nbsp;&nbsp;&nbsp;upload
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}

                        </ul>
                    </nav>
                </div>
            </div>
        </div>