{% extends 'core/index.html' %}
{% load staticfiles %}
{% block title %}My profil{% endblock %}

{% block body_main %}
    <div class="card">
        <div class="card-body">
            <div class="row profile">
				<div class="col-md-12">
					<!--BEGIN TABS-->
					<div class="tabbable tabbable-custom tabbable-full-width" style="min-height: 700px">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item"><a class="nav-link active" id="home-tab" data-toggle="tab"  href="#tab_1_1" role="tab" aria-controls="home" aria-selected="true">Overview</a></li>
							<li class="nav-item"><a class="nav-link " id="home-tab" data-toggle="tab"  href="#tab_1_3" role="tab" aria-controls="profile" aria-selected="false">Account</a></li>
							<li class="nav-item"><a class="nav-link " id="home-tab" data-toggle="tab"  href="#tab_1_6" role="tab" aria-controls="profile" aria-selected="false">Help</a></li>
						</ul>
						<div class="tab-content mt-3" id="myTabContent">
							<div class="tab-pane fade show active" id="tab_1_1" role="tabpanel" aria-labelledby="home-tab">
								<div class="row">
									<div class="col-md-3">
										<ul class="list-unstyled profile-nav">
											<li>
												<img class="img-responsive" alt="" src={% static "img/profile/generic_profile.jpg"%}  />
											</li>
										</ul>
									</div>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-8 profile-info">
												<h1>{{ user.username }}</h1>
												<h3>{{ user.first_name }} {{ user.last_name }}</h3>
												<ul>
													<li><i class="fa fa-map-marker"></i> {{ user.email }}</li>
													<li><i class="fa fa-calendar"></i> {{ user.last_login }}</li>
													<li><i class="fa fa-calendar"></i> {{ user.date_joined }}</li>
													<li><i class="fa fa-heart"></i> {{ user.email }}</li>
												</ul>
											</div>
											<!--end col-md-8-->
											<div class="col-md-4">

											</div>
											<!--end col-md-4-->
										</div>
										<!--end row-->

									</div>
								</div>
							</div>
							<!--tab_1_2-->
							<div class="tab-pane" id="tab_1_3">
								<div class="row profile-account">
									<div class="col-md-3">
										<ul class="ver-inline-menu tabbable margin-bottom-10">
											<li class="active">
												<a data-toggle="tab" href="#tab_1-1">
												<i class="fa fa-cog"></i> Informazioni personali</a>
												<span class="after"></span>
											</li>
											<li ><a data-toggle="tab" href="#tab_3-3"><i class="fa fa-lock"></i> Cambio Password</a></li>
										</ul>
									</div>
									<div class="col-md-9">
										<div class="tab-content">
											<div id="tab_1-1" class="tab-pane active">
												<form role="form" action="#">
													<div class="form-group">
														<label class="control-label"><strong>Nome</strong></label>
														<input type="text" placeholder="John" class="form-control" />
													</div>
													<div class="form-group">
														<label class="control-label"><strong>Cognome</strong></label>
														<input type="text" placeholder="Doe" class="form-control" />
													</div>
													<div class="margiv-top-10">
														<a href="#" class="btn green">Salva i cambiamenti</a>
														<a href="#" class="btn default">Cancel</a>
													</div>
												</form>
											</div>
											<div id="tab_3-3" class="tab-pane">
												<form action="/admin/password_change/" method="post" id="form_change_password">
													{% csrf_token %}
													<div class="form-group">
														<label class="control-label">Password Corrente</label>
														<input type="password" name="old_password" id="id_old_password" placeholder="Password Corrente" class="form-control" />
													</div>
													<div class="form-group">
														<label class="control-label">Nuova Password</label>
														<input type="password" name="new_password1" id="id_new_password1" placeholder="Nuova Password" class="form-control" />
													</div>
													<div class="form-group">
														<label class="control-label">Ridigita la Password</label>
														<input type="password" name="new_password2" id="id_new_password2" placeholder="Ridigita la Password" class="form-control" />
													</div>
													<div class="margin-top-10">
														<a href="#" class="btn green" onclick="document.getElementById('form_change_password').submit()">Cambia Password</a>
														<a href="#" class="btn default">Cancel</a>
													</div>
												</form>
											</div>

										</div>
									</div>
									<!--end col-md-9-->
								</div>
							</div>

							<div class="tab-pane" id="tab_1_6">
								<div class="d-md-flex">
                                    <div class="nav flex-column nav-pills mr-4 mb-3 mb-sm-0" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#tab_1" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa fa-briefcase"></i>General Questions</a><span class="after"></span>
                                        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill"  role="tab" aria-controls="v-pills-home" aria-selected="true" href="#tab_2"><i class="fa fa-group"></i> Membership</a>
                                        <a class="nav-link " id="v-pills-home-tab" data-toggle="pill"  role="tab" aria-controls="v-pills-home" aria-selected="true" href="#tab_3"><i class="fa fa-leaf"></i> Terms Of Service</a>
                                        <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true" href="#tab_1"><i class="fa fa-info-circle"></i> License Terms</a>
                                        <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true" href="#tab_4"><i class="fa fa-tint"></i> Payment Rules</a>
                                        <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true" href="#tab_5"><i class="fa fa-plus"></i> Other Questions</a>
									</div>
									<div class="col-md-9">
										<div class="tab-content">
											<div id="tab_1" class="tab-pane active">
												<div id="accordion1" class="according accordion-s2 gradiant-bg">
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
																1. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
																</a>
															</h4>
														</div>
														<div id="accordion1_1" class="panel-collapse collapse  in">
															<div class="card-body">
																Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">
																2. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
																</a>
															</h4>
														</div>
														<div id="accordion1_2" class="panel-collapse collapse">
															<div class="card-body">
																Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch   et.
																Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="panel-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">
																3. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor ?
																</a>
															</h4>
														</div>
														<div id="accordion1_3" class="panel-collapse collapse">
															<div class="card-body">
																Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch   et.
																Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">
																4 Wolf moon officia aute, non cupidatat skateboard dolor brunch?
																</a>
															</h4>
														</div>
														<div id="accordion1_4" class="panel-collapse collapse">
															<div class="card-body">
																3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_5">
																5 Leggings occaecat craft beer farm-to-table, raw denim aesthetic ?
																</a>
															</h4>
														</div>
														<div id="accordion1_5" class="panel-collapse collapse">
															<div class="card-body">
																3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
															</div>
														</div>
													</div>

												</div>
											</div>
											<div id="tab_2" class="tab-pane">
												<div id="accordion2" class="according accordion-s2 gradiant-bg">
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_1">
																1. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
																</a>
															</h4>
														</div>
														<div id="accordion2_1" class="panel-collapse collapse  in">
															<div class="card-body">
																<p>
																	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
																</p>
																<p>
																	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
																</p>
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_2">
																2. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
																</a>
															</h4>
														</div>
														<div id="accordion2_2" class="panel-collapse collapse">
															<div class="card-body">
																Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch   et.
																Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_3">
																3. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor ?
																</a>
															</h4>
														</div>
														<div id="accordion2_3" class="panel-collapse collapse">
															<div class="card-body">
																Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch   et.
																Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_4">
																4. Wolf moon officia aute, non cupidatat skateboard dolor brunch ?
																</a>
															</h4>
														</div>
														<div id="accordion2_4" class="panel-collapse collapse">
															<div class="card-body">
																3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_5">
																5. Leggings occaecat craft beer farm-to-table, raw denim aesthetic ?
																</a>
															</h4>
														</div>
														<div id="accordion2_5" class="panel-collapse collapse">
															<div class="card-body">
																3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_6">
																6. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth ?
																</a>
															</h4>
														</div>
														<div id="accordion2_6" class="panel-collapse collapse">
															<div class="card-body">
																3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_7">
																7. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft ?
																</a>
															</h4>
														</div>
														<div id="accordion2_7" class="panel-collapse collapse">
															<div class="card-body">
																3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
															</div>
														</div>
													</div>
												</div>
											</div>
											<div id="tab_3" class="tab-pane">
												<div id="accordion3" class="according accordion-s2 gradiant-bg">
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_1">
																1. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
																</a>
															</h4>
														</div>
														<div id="accordion3_1" class="panel-collapse collapse  in">
															<div class="card-body">
																<p>
																	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
																</p>
																<p>
																	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
																</p>
																<p>
																	Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
																</p>
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_2">
																2. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
																</a>
															</h4>
														</div>
														<div id="accordion3_2" class="panel-collapse collapse">
															<div class="card-body">
																Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch   et.
																Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_3">
																3. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor ?
																</a>
															</h4>
														</div>
														<div id="accordion3_3" class="panel-collapse collapse">
															<div class="card-body">
																Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch   et.
																Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_4">
																4. Wolf moon officia aute, non cupidatat skateboard dolor brunch ?
																</a>
															</h4>
														</div>
														<div id="accordion3_4" class="panel-collapse collapse">
															<div class="card-body">
																3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_5">
																5. Leggings occaecat craft beer farm-to-table, raw denim aesthetic ?
																</a>
															</h4>
														</div>
														<div id="accordion3_5" class="panel-collapse collapse">
															<div class="card-body">
																3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_6">
																6. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth ?
																</a>
															</h4>
														</div>
														<div id="accordion3_6" class="panel-collapse collapse">
															<div class="card-body">
																3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_7">
																7. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft ?
																</a>
															</h4>
														</div>
														<div id="accordion3_7" class="panel-collapse collapse">
															<div class="card-body">
																3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
															</div>
														</div>
													</div>
												</div>
											</div>
                                            <div id="tab_4" class="tab-pane">
												<div id="accordion4" class="according accordion-s2 gradiant-bg">
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#accordion4_1">
																1. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
																</a>
															</h4>
														</div>
														<div id="accordion4_1" class="panel-collapse collapse  in">
															<div class="card-body">
																<p>
																	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
																</p>
																<p>
																	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
																</p>
																<p>
																	Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
																</p>
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#accordion4_2">
																2. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
																</a>
															</h4>
														</div>
														<div id="accordion4_2" class="panel-collapse collapse">
															<div class="card-body">
																Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch   et.
																Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#accordion4_3">
																3. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor ?
																</a>
															</h4>
														</div>
														<div id="accordion4_3" class="panel-collapse collapse">
															<div class="card-body">
																Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch   et.
																Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#accordion4_4">
																4. Wolf moon officia aute, non cupidatat skateboard dolor brunch ?
																</a>
															</h4>
														</div>
														<div id="accordion4_4" class="panel-collapse collapse">
															<div class="card-body">
																3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
															</div>
														</div>
													</div>

												</div>
											</div>
                                            <div id="tab_5" class="tab-pane">
												<div id="accordion5" class="according accordion-s2 gradiant-bg">
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#accordion3_1">
																1. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
																</a>
															</h4>
														</div>
														<div id="accordion3_1" class="panel-collapse collapse  in">
															<div class="card-body">
																<p>
																	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
																</p>
																<p>
																	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
																</p>
																<p>
																	Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
																</p>
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#accordion5_2">
																2. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
																</a>
															</h4>
														</div>
														<div id="accordion5_2" class="panel-collapse collapse">
															<div class="card-body">
																Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch   et.
																Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#accordion5_3">
																3. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor ?
																</a>
															</h4>
														</div>
														<div id="accordion5_3" class="panel-collapse collapse">
															<div class="card-body">
																Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch   et.
																Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
															</div>
														</div>
													</div>
													<div class="card">
														<div class="card-header">
															<h4 class="card-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#accordion5_4">
																4. Wolf moon officia aute, non cupidatat skateboard dolor brunch ?
																</a>
															</h4>
														</div>
														<div id="accordion5_4" class="panel-collapse collapse">
															<div class="card-body">
																3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end tab-pane-->
						</div>
					</div>
					<!--END TABS-->
				</div>
			</div>
        </div>
    </div>

			<!-- END PAGE CONTENT-->


{% endblock %}