<html>
{% load static %}
    <head>
        <title>RESTRICTED AREA</title>
        <style>
            * { margin: 0; padding: 0; }

            html {
                background: url({% static 'no_access.png'%}) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }

        </style>
    </head>
    <body>
        <
    </body>
</html>