﻿<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load app_filters %}

<head>
<title>Learn Center</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'learn-center/css/reset.css'%}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'learn-center/css/layout.css'%}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'learn-center/css/style.css'%}" type="text/css" media="all">
<script type="text/javascript" src="{% static 'learn-center/js/jquery-1.5.2.js'%}" ></script>
<script type="text/javascript" src="{% static 'learn-center/js/cufon-yui.js'%}"></script>
<script type="text/javascript" src="{% static 'learn-center/js/cufon-replace.js'%}"></script>
<script type="text/javascript" src="{% static 'learn-center/js/Molengo_400.font.js'%}"></script>
<script type="text/javascript" src="{% static 'learn-center/js/Expletus_Sans_400.font.js'%}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">.bg, .box2{behavior:url("js/PIE.htc");}</style>
<![endif]-->
</head>
<body id="page1">
<div class="body1">
  <div class="main">
    <!-- header -->
        <header>
              <div class="wrapper">
                    <nav>
                          <ul id="menu">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Courses</a></li>
                                <li><a href="#">Certificates</a></li>
                                {% if  request.user|has_group:'diretore' %}<li><a href="{% url 'admin_index' %}">Admin</a></li>{% else %}{% endif %}
                                <li class="end"><a href="/admin/logout/">Logout</a></li>
                          </ul>
                    </nav>
                    <ul id="icon">
                          <li><a href="#"><img src="{% static 'learn-center/images/icon1.jpg' %}" alt=""></a></li>
                          <li><a href="#"><img src="{% static 'learn-center/images/icon2.jpg' %}" alt=""></a></li>
                          <li><a href="#"><img src="{% static 'learn-center/images/icon3.jpg' %}" alt=""></a></li>
                    </ul>
              </div>
              <div class="wrapper">
                    <h1><a href="site_index.html" id="logo">Learn Center DGS</a></h1>
              </div>
              <div id="slogan"> We Will Open The World<span>of knowledge for you!</span> </div>
              <ul class="banners">
                    <li><a href="#"><img src="{% static 'learn-center/images/banner1.jpg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'learn-center/images/banner2.jpg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'learn-center/images/banner3.jpg' %}" alt=""></a></li>
              </ul>
        </header>
    <!-- / header -->
  </div>
</div>
<div class="body2">
  <div class="main">
    <!-- content -->
    <section id="content">
      <div class="wrapper">
        <div class="pad1 pad_top1">
          <article class="cols marg_right1">
            <figure><a href="#"><img src="{% static 'learn-center/images/page1_img1.jpg' %}" alt=""></a></figure>
            <span class="font1">Certification 1</span> </article>
          <article class="cols marg_right1">
            <figure><a href="#"><img src="{% static 'learn-center/images/page1_img2.jpg' %}" alt=""></a></figure>
            <span class="font1">Certification 2</span> </article>
          <article class="cols">
            <figure><a href="#"><img src="{% static 'learn-center/images/page1_img3.jpg' %}" alt=""></a></figure>
            <span class="font1">Certification 3</span> </article>
        </div>
      </div>
      <div class="box1" style="width: 100%">
        <div class="wrapper">
          <article class="col1">
            <div class="pad_left1">
              <h2>Welcome to Our Center</h2>
              <p class="font2">Learn Center is one of free website templates created by <span>TemplateMonster.com team</span></p>
              <p>
                  <strong>Learn Center Template</strong>
                  is optimized for 1024X768 screen resolution. It’s also XHTML &amp; CSS valid. This website template has several pages: (note that contact us form – doesn’t work).
              </p>
            </div>
            <a href="#" class="button"><span><span>Read More</span></span></a>
            <div class="pad_left1">
              <h2>Individual Approach to Education!</h2>
            </div>
            <div class="wrapper">
              <figure class="left marg_right1"><img src="{% static 'learn-center/images/page1_img4.jpg' %}" alt=""></figure>
              <p class="pad_bot1 pad_top2"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore.</strong></p>
              <p> Learn Center Template goes with two packages – with PSD source files and without them. PSD source files are available for free for the registered members of Templates.com. The basic package (without PSD source is available for anyone without registration).</p>
            </div>
            <div class="pad_top2"> <a href="#" class="button"><span><span>Read More</span></span></a> </div>
          </article>
          <article class="col2 pad_left2">
            <div class="pad_left1">
              <h2>New Certifications</h2>
            </div>
            <ul class="list1">
              <li><a href="#">Certifications 1</a></li>
              <li><a href="#">Certifications 2</a></li>
              <li><a href="#">Certifications 3</a></li>
              <li><a href="#">Certifications 4</a></li>
              <li><a href="#">Certifications 5</a></li>
            </ul>
            <div class="pad_left1">
              <h2>New Courses</h2>
            </div>
            <div class="wrapper"> <span class="date">27</span>
              <p class="pad_top2"><a href="#">April, 2011</a><br>
                Sed utirspiciatis unde omnis iste natus error sit...</p>
            </div>
            <div class="wrapper"> <span class="date">25</span>
              <p class="pad_top2"><a href="#">April, 2011</a><br>
                Voluptatem accusan dolore mque laudantium...</p>
            </div>
            <div class="pad_top2"> <a href="#" class="button"><span><span>Read More</span></span></a> </div>
          </article>
        </div>
      </div>
    </section>
    <!-- content -->
    <!-- footer -->
    <footer>
      <div class="wrapper">
        <div class="pad1">
          <div class="pad_left1">
            <div class="wrapper">
              <article class="call"> <span class="call1">Call Us Now: </span><span class="call2">+39 065811893</span> </article>
              <article class="col_4 pad_left2">Copyright &copy; <a href="https://dgsspa.com/">DGS S.p.A.</a> All Rights Reserved<br>
                Design by <a target="_blank" href="#">Vagner Spinola</a></article>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- / footer -->
  </div>
</div>
<script type="text/javascript">Cufon.now();</script>
</body>
</html>