{% extends 'core/index.html' %}

{% load staticfiles %}

{% block head_title %}SOC H24{% endblock %}

{% block custom_page_level_css %}{% endblock %}

{% block body_main %}
    <div class="login-area" style="background-color: rgba(67,72,82,1);height: 800px">
            <div class="container">
                <div class="login-box ptb--100" >
                    <form style="margin-top: 0px;">
                        <div class="login-form-head">
                            <h4>Sign up</h4>
                            <p>Form per creare un nuovo Utente</p>
                        </div>
                        <div class="login-form-body">
                            <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% include 'connessionianomale/form-template.html' %}
                                <div class="submit-btn-area">
                                    <button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}

{% block custom_page_level_javascript %}{% endblock %}