{% extends 'core/index.html' %}
{%  load staticfiles %}

{% block custom_page_level_css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
{% endblock %}

{% block custom_page_level_javascript %}
    <!-- Start datatable js -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#dataTable2').DataTable({
                    responsive: true,
                    searching: true,
                    paging: true,
                    order: [[ 0, 'desc' ]],
                    select: true,
                    info: false,
            });
        });
    </script>
{% endblock %}

{% block body_main %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h4 class="header-title">Analize di Certificazione</h4>
                </div>
                <div class="col-6">
                    <a  href="#" class="btn btn-primary float-right">Aggiorna</a>
                </div>
            </div>
            <hr>

                <div class="data-tables datatable-dark" style="width: 100%">
                    <table id="dataTable2" class="table-hover" style="width: 100%">
                        <thead class="text-capitalize">
                            <tr>
                                <th scope="col">Utente</th>
                                <th scope="col">Corso</th>
                                <th scope="col">Certificazione</th>
                                <th scope="col">Previsione</th>
                                <th scope="col">Consenquimento</th>
                                <th scope="col">Scadenza</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cert in certs %}
                                <tr style="padding: 0">
                                    <td>{{ cert.utente }}</td>
                                    <td>{% if cert.corso == None %}{% else %}{{ cert.corso }}{% endif %}</td>
                                    <td>{% if cert.certification == None %}{% else %}{{ cert.certification }}{% endif %}</td>
                                    <td>
                                        <div class="form-group">
                                            <input class="form-control" type="date" value="{{ cert.previsione|date:"Y-m-d" }}" id="example-date-input">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input class="form-control" type="date" value="{{ cert.conseguimento|date:"Y-m-d" }}" id="example-date-input">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input class="form-control" type="date" value="{{ cert.scadenza|date:"Y-m-d" }}" id="example-date-input">
                                        </div>
                                    </td>
                                    <td>
                                        <select class="custom-select">
                                            <option selected="selected">{{ cert.status }}</option>
                                            <option value="ANALISE">ANALISE</option>
                                            <option value="APPROVATO">APPROVATO</option>
                                            <option value="NEGGATO">NEGGATO</option>
                                        </select>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

        </div>
    </div>
{% endblock %}
