{% extends 'core/index.html' %}
{%  load staticfiles %}

{% block custom_page_level_css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css"/>
{% endblock %}

{% block custom_page_level_javascript %}
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- Start datatable js -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
            $('#dataTable2').DataTable({
                    responsive: true,
                    searching: true,
                    paging: true,
                    order: [[ 0, 'asc' ]],
                    select: true,
                    info: true,
                    columnDefs: [ {
                        searchable: false,
                        orderable: false,
                        targets: 6
                    } ],

                    dom : 'Bfrtip',
                    buttons: ['copy', 'excel', 'pdf']


            });
        });
    </script>
{% endblock %}

{% block body_main %}
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">DT Skill Inventory</h4>
            <hr>
            <form action="{% url 'valutazione:level'%}"  method="POST" enctype="multipart/form-data" class="form-horizontal" id="submit_form" novalidate="novalidate">
                {% csrf_token %}
                <div class="form-row">

                    <div class="form-group">
                        <label class="col-form-label">Selezionare il Dipendente</label>
                        <select class="custom-select" name="user">
                            <option></option>
                            {% for user in lista_user %}
                                <option value="{{ user.pk }}">{{ user.user }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                 <input class="btn btn-primary btn-sm" type="submit" value="Search"/>
            </form>

            <hr>
            <h4 class="header-title">Tabela di Dipendenti</h4>
            <div class="data-tables datatable-dark" style="width: 100%">
                    <table id="dataTable2" class="display" style="width: 100%">
                        <thead class="text-capitalize">
                            <tr >
                                <th scope="col" width="15%">Utente</th>
                                <th scope="col" width="20%">Ambito</th>
                                <th scope="col" width="20%">Vendor</th>
                                <th scope="col" width="20%">Technologia</th>
                                <th scope="col" width="8%">Livelo</th>
                                <th scope="col" width="15%">Risponsabile</th>
                                <th scope="col" width="2%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for skill in skills %}
                                <tr>
                                    <td style="font-size: 18px;width: 15%">{{ skill.user }}</td>
                                    <td style="font-size: 18px;width: 20%">{{ skill.skill.ambito }}</td>
                                    <td style="font-size: 18px;width: 20%">{{ skill.skill.vendor }}</td>
                                    <td style="font-size: 18px;width: 20%">{{ skill.skill.technology }}</td>
                                    <td style="width: 8%">{{ skill.livelo }}</td>
                                    <td style="font-size: 18px;width: 15%">{{ skill.user.resposabile }}</td>
                                    <td style="width: 2%"><a target="_blank" href="/admin/valutazione/user_skill/{{ skill.id }}/change/"><i class="ti-save"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
{% endblock %}
